<mat-card class="full-height">
    <mat-card-header>
        <mat-card-title dir="auto">{{delibService.parent ? delibService.parent.text : 'Topics:'}}</mat-card-title>
        <mat-card-subtitle *ngIf="delibService.parent">{{getName(delibService.parent.owner)}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="stretch">
        <mat-list (mouseleave)="hoverElement=''">
            <ng-container *ngFor="let order of delibService.aggregateOrder; let index=index; let last = last;">
                <ng-container *ngFor="let key of order; let first = first;">
                    <div *ngIf="key == 'support' || key == 'oppose'; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <mat-list-item (click)="onFocus(key)">
                            <div matListItemAvatar><ng-container *ngIf="first">{{index+1}}</ng-container></div>
                            <div matListItemLine>
                                <mat-divider [ngClass]="{'support': key == 'support', 'oppose': key == 'oppose'}"/>
                            </div>
                        </mat-list-item>
                    </ng-template>
                    <ng-template #elseBlock>
                        <mat-list-item dir="auto" (click)="onFocus(key)" (mouseenter)="hoverElement=key">
                            <div matListItemAvatar><ng-container *ngIf="first">{{index+1}}</ng-container></div>
                            <div matListItemTitle>{{delibService.kids[key].text}}</div>
                            <div matListItemLine *ngIf="hoverElement==key">{{getName(delibService.kids[key].owner)}} {{hoverElement}}</div>
                        </mat-list-item>
                    </ng-template> 
                </ng-container>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-list>
    </mat-card-content>
    <mat-card-actions style="padding-bottom: 5vh;">
        <button color="primary" mat-fab (click)="onAdd()">
            <mat-icon >add</mat-icon>
        </button>
        <button color="primary" mat-fab *ngIf="delibService.parent" (click)="onDefocus()">
            <mat-icon >arrow_backward</mat-icon>
        </button>
        <button color="primary" mat-fab *ngIf="delibService.parent && hasKids()" (click)="onSort()">
            <mat-icon >swap_vert</mat-icon>
        </button>
        <button color="warn" mat-fab *ngIf="delibService.parent && !hasKids() && delibService.parent.owner == delibService.agent" (click)="onDelete()">
            <mat-icon >cancel</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>